
<h3 style="text-align:center;color:cadetblue;font-family:Tahoma">Add New Sales Commission </h3>

<br />
<form class="example-container" [formGroup]="Forms">
  <div class="col-md-12" >
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs " #matgroup>
      <mat-tab>
        <ng-template mat-tab-label>
          Agent Detail
        </ng-template>
        <app-select-search [formControlnam]="'clientgroupname'" [preVal]="selectsearchval1" (outputval)="SelectvalChanged1($event)"  [list]= "clientgrlist"></app-select-search>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>From </mat-label>
          <input matInput placeholder="From" type="date" formControlName="fromdate" [readonly]="fromdatereadonly" required>
        </mat-form-field>
        <mat-form-field floatLabel="options.value.floatLabel">
            <mat-label>To </mat-label>
            <input matInput placeholder="To" type="date" formControlName="todate" required>
        </mat-form-field>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>Additional Info</mat-label>
          <input matInput placeholder="Issued By" type="Text" formControlName="additionalInfo">
        </mat-form-field>
        <button mat-raised-button style="width:100%" color="warn" (click)='matgroup.selectedIndex = 1'>Go Next</button>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          Commission
        </ng-template>
        <br/>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>Total amount</mat-label>
          <input matInput placeholder="Total amount Given" type="Number" formControlName="totalamount" >
        </mat-form-field>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>Due amount</mat-label>
          <input matInput placeholder="Due amount in this time" type="Number" formControlName="dueamount" >
        </mat-form-field>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>Commission amount</mat-label>
          <input matInput placeholder="Commission Amount" type="Number" formControlName="commission" >
        </mat-form-field>

        <div class="input-group btn-group">
          <button type="submit" (click)="FormSubmit()" class="form-control btn" style="height:40px;width:425px;background-color:black;color:whitesmoke" [disabled]="!Forms.valid">Submit</button>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

</form>

<br /><br />
<!--<app-sales-table [salestabhid]='salestabhid' [saleslist]='saleslist' ></app-sales-table> -->

<div class='row' [hidden]="salestabhid" #salesTable>

  <table class="table table-dark table-sm table-bordered table-striped"  style="font-size: smaller;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Agent</th>
      <th scope="col">StudentName</th>
      <th scope="col">ServedBy</th>
      <th scope="col">date</th>
      <th scope="col">Package am</th>

      <th scope="col">Total Pay</th>
      <th scope="col">Returned</th>
      <th scope="col">Due</th>
      <th scope="col">unit</th>
      <th scope="col">Enter Amout</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of saleslist; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td><ngb-highlight [result]="c.clientgroupname" ></ngb-highlight></td>
      <td><ngb-highlight [result]="c.studentname" ></ngb-highlight></td>
      <td><ngb-highlight [result]="c.servedby" ></ngb-highlight></td>
      <td><ngb-highlight [result]="c.date | date" ></ngb-highlight></td>
      <td><ngb-highlight [result]="c.packageAmount | number" ></ngb-highlight></td>

      <td><ngb-highlight [result]="c.total | number" ></ngb-highlight></td>
      <td><ngb-highlight [result]="c.return | number" ></ngb-highlight></td>
      <td><ngb-highlight [result]="c.TotDue | number" ></ngb-highlight></td>
      <td><ngb-highlight [result]="c.unit" style="color: yellow;" ></ngb-highlight></td>
      <td>
          <input matInput style="background-color: gainsboro;color:black" placeholder="Commission" (ngModelChange)="saverange($event)" id="values{{i}}" [(ngModel)]="values[i]"  type="Number"  >
      </td>
    </tr>
    </tbody>
  </table>
  <div class="input-group btn-group">
    <button type="submit"  class="form-control btn" style="height:40px;width:405px;background-color:black;color:whitesmoke" >Update Commission</button>
  </div>
</div>

