<h3 style="text-align:center;color:cadetblue;font-family:Tahoma" >Company</h3>
<br />
<br />
<form class="example-container" [formGroup]="Forms">
    <mat-form-field floatLabel="options.value.floatLabel">
      <input matInput placeholder="Company Name" type="Text" formControlName="clientname" required>
    </mat-form-field>
    <mat-form-field floatLabel="options.value.floatLabel">
      <input matInput placeholder="Client Id" type="Text" formControlName="clientId" required>
    </mat-form-field>
    <mat-form-field floatLabel="options.value.floatLabel">
      <input matInput placeholder="Address" type="Text" formControlName="address" >
    </mat-form-field>
    <mat-form-field floatLabel="options.value.floatLabel">
      <input matInput placeholder="Phone" type="Text" formControlName="phone" >
    </mat-form-field>
    <mat-form-field floatLabel="options.value.floatLabel">
      <input matInput placeholder="Additional Info" type="Text" formControlName="otherinfo" >
    </mat-form-field>

    <br/>
    <div class="input-group btn-group">
      <button type="submit" (click)="FormSubmit()" class="form-control btn" style="height:40px;width:425px;background-color:black;color:whitesmoke" [disabled]="!Forms.valid">Submit</button>
    </div>

</form>

<br /><br />
