
<h3 style="text-align:center;color:cadetblue;font-family:Tahoma">Edit Sales Return </h3>

<br />
<form class="example-container" [formGroup]="Forms">
  <div class="col-md-12 col-lg-12 col-xs-12" >
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs " #matgroup>
      <mat-tab>
        <ng-template mat-tab-label>
          Return Detail
        </ng-template>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>Return No</mat-label>
          <input matInput placeholder="No" type="Text" formControlName="returnid" required>
        </mat-form-field>
        <app-select-search [formControlnam]="'clientgroupname'" [preVal]="selectsearchval1" (outputval)="SelectvalChanged1($event)"  [list]= "clientgrouplist"></app-select-search>
        <app-select-search [formControlnam]="'studentname'" [preVal]="selectsearchval3" (outputval)="SelectvalChanged3($event)"  [list]= "studentlist"></app-select-search>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>date</mat-label>
          <input matInput placeholder="date" type="date" formControlName="date">
        </mat-form-field>
        <br/>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>Additional Info</mat-label>
          <input matInput placeholder="Additional Info" type="Text" formControlName="additionalInfo" >
        </mat-form-field>
        <button mat-raised-button style="width:99%" color="warn" (click)='matgroup.selectedIndex = 1'>Go Next</button>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          price
        </ng-template>

        <mat-form-field floatLabel="options.value.floatLabel">
        <mat-label>Return Amount. Unit: {{moneyunit}}</mat-label>
          <input matInput placeholder="Return Amount" type="Number" formControlName="returnAmount" required>
        </mat-form-field>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>Prev Dues. Unit: {{moneyunit}}</mat-label>
          <input matInput placeholder="Prev Dues" type="Number" formControlName="prevdues" >
        </mat-form-field>
        <mat-form-field floatLabel="options.value.floatLabel">
          <mat-label>Current Dues. Unit: {{moneyunit}}</mat-label>
          <input matInput placeholder="Current Dues" type="Number" formControlName="currentdues" >
        </mat-form-field>

        <div class="input-group btn-group">
          <button type="submit" (click)="FormSubmit()" class="form-control btn" style="height:40px;width:99%;background-color:black;color:whitesmoke" [disabled]="!Forms.valid">Submit</button>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

</form>

<br /><br />

