<h3 style="text-align:center;color:cadetblue;font-family:Tahoma" >Company</h3>
<br />
<br />
<form class="example-container" [formGroup]="Forms">
  <mat-form-field floatLabel="options.value.floatLabel">
    <input matInput placeholder="Company Name" type="Text" formControlName="companyname" required>
  </mat-form-field>
  <mat-form-field floatLabel="options.value.floatLabel">
    <input matInput placeholder="Phone" type="Text" formControlName="phone" >
  </mat-form-field>
  <mat-form-field floatLabel="options.value.floatLabel">
    <input matInput placeholder="Address" type="Text" formControlName="address" >
  </mat-form-field>
  <mat-form-field floatLabel="options.value.floatLabel">
    <input matInput placeholder="Telephone" type="Text" formControlName="tel" >
  </mat-form-field>
  <app-file-upload [filenameinput]="filenameinput1" [preVal]="_file1id" (picidVal)="file1id($event)"></app-file-upload>

    <br/>
    <div class="input-group btn-group">
      <button type="submit" (click)="FormSubmit()" class="form-control btn" style="height:40px;width:425px;background-color:black;color:whitesmoke" [disabled]="!Forms.valid">Submit</button>
    </div>

</form>

<br /><br />

